@font-face {
  font-family: 'Gallant Black Italic';
  src: url('/assets/fonts/Gallant/Gallant\ black.otf') format('opentype');
}

body {
  background: rgb(253,252,243);
  background: linear-gradient(142deg, rgba(253,252,243,1) 0%, rgba(255,250,240,1) 25%, rgba(255,248,220,1) 50%, rgba(255,239,219,1) 75%, rgba(255,235,205,1) 100%);
  background-size: cover;
  font-family: 'Gallant Black Italic', sans-serif;
  color: #000;
  min-height: 100vh;
}

nav {
  font-size: 25px;
}

.offCanvasBackground {
  background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
  color: #fff !important;
  background: rgb(253,252,243);
  background: linear-gradient(142deg, rgba(253,252,243,1) 0%, rgba(255,250,240,1) 25%, rgba(255,248,220,1) 50%, rgba(255,239,219,1) 75%, rgba(255,235,205,1) 100%);
}

.title {
    font-size: 50px;
}

@media (max-width: 768px) {
  .title {
    font-size: 5vw;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 6vw;
  }
}

.typewriter {
  position: relative;
  font-weight: bold;
  letter-spacing: 4px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 0%);
  white-space: nowrap;
  animation: typewriter 2s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}

.portfolioImg {
  height: 250px;
}

.logo {
  height: 25px;
}

.videoLg {
  width: 100%;
  height: 500px;
}

.videoSm {
  width: 400px;
  height: 300px;
}